{
  "datasource": "{{ datasource | "Prometheus" }}",
  "enable": true,
  "expr": "{{ expr }}",
  "iconColor": "{{icon_color }}",
  "limit": 100,
  "name": "{{ Link }}",
  "tagKeys": "{{ tags }}",
  "titleFormat": "{{ title }}",
  "type": "alert"
}
