version: '2'
services:
# -------------------------------------------------------------------------
# Kibana
# -------------------------------------------------------------------------
  kibana:
    image: docker.elastic.co/kibana/kibana:7.3.2
    environment:
      SERVER_NAME: kibana
      ELASTICSEARCH_URL: http://localhost:9200
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"

# -------------------------------------------------------------------------
# elasticsearch
# -------------------------------------------------------------------------
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.3.2
    volumes:
     - /etc/localtime:/etc/localtime
    environment:
     - "discovery.type=single-node"
     - "xpack.security.enabled=false"
    ports:
     - "9200:9200"
     - "9300:9300"

# -------------------------------------------------------------------------
# Telegraf - Elasticsearch
# -------------------------------------------------------------------------
  telegraf-elasticsearch:
    image: apstra/telegraf:1.12_AOS_3.2
    command: telegraf -debug
    env_file:
      - variables.env
    volumes:
      - ./config/telegraf-es.toml:/etc/telegraf/telegraf.conf
      - /etc/localtime:/etc/localtime
    depends_on:
      - elasticsearch
    ports:
        - '7777:7777'
    restart: always
